@model Twitstagram.Models.Home
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>

<head>
    <title>Twitstagram</title>
</head>
<body>
<div class="jumbotron">
    <h1>Twitstagram</h1>
    <p class="lead">Op deze website ben je in staat om twitter en instagram feed te zien!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Twitter Timeline</h2>
        <p>
            @* @Html.Partial("UserTimeLine", Model) *@
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Twitter search</h2>
        <p>
            @* @Html.Partial("TwitterSearch", Model) *@
        </p>
    </div>
    <div class="col-md-4">
        <h2>Instagram</h2>
        <p>
            Dit deel is nog work in progress!
        </p>
    </div>
</div>
</body>
</html>