@model Twitstagram.Models.Home
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>

<head>
    <title>Twitstagram</title>
</head>
<body>
<div class="jumbotron">
    <h1>Twitstagram</h1>
    <p class="lead">Op deze website ben je in staat om twitter en instagram feed te zien!</p>
</div>
</body>
</html>