@{
    ViewBag.Title = "Home Page";


}

<div class="jumbotron">
    <h1>Twitstagram</h1>
    <p class="lead">On this website you will be able to see twitter and instagram feed!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Twitter</h2>
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Tweets</div>
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Header</h4>
                <p class="card-text">@ViewBag.Message</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Instagram</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
        </p>
    </div>
</div>